<!DOCTYPE html>
<html>
  <head>
    <title>House Hunting | About</title>
  </head>
  <body>
    <h1>House Hunting | About</h1>
    <br/><br/>
    <p>
      House hunting is a web app that will be used by college/university students 
      to find the most suitable living quarters. They will have the options to 
      choose according to their school location, their affordable price range, 
      and method of transportation. This will also help a lot with international 
      students who are not familiar with the area. The students are actually 
      searching for a house/apartment on different websites. This can cause 
      some problems, as they will always have a different list of 
      houses/apartments available but also with some houses/apartments 
      coinciding. Some of the students even stay at a family's house or a 
      friend's place until they find their own place to stay. This app will 
      make their lives easier because it will show all the houses/apartments 
      available for rental, all displayed on one website. This app will be 
      different from the other websites, as the features will include a choice 
      of school, a choice of city, a display of transit facilities and much 
      more. There are also some APIs that will be used for this app such as 
      Google maps, Translink and some realtor APIs. In the first iteration the 
      login page, sign up page and the logo has been created. In the second and 
      third iterations the APIs and some other features will be implemented 
      which will show the map, house information and transit.
    </p>
    <br/><br/><br/>
  </body>
</html>