<!DOCTYPE html>
<html>
  <head>
    <title>House Hunting | About</title>
  </head>
  <body>
    <h1>What is House Hunting?</h1>
    <br/><br/>
    <p class="contents">
      House hunting is a web application that is targeted for college/university students
      to find their suitable living quarters.<br/><br/>
      Users will be able to
      choose their living quarters with following options:
      <br/>- Their school location
      <br/>- Their affordable price range
      <br/>- Their transit<br/><br/>
      This website is designated to help international
      students who are not familiar with the area and to make their lives easier by showing all the available houses/apartments rental information
      in a single website.
    </p>
    <br/><br/><br/>
  </body>
</html>
