<!DOCTYPE html>
<html>
  <head>
    <title>App Name | Help</title>
  </head>
  <body>
    <h1>App Name | Help</h1>
    <p>
      This is the help page for the app so far.
    </p>
    <br/><br/><br/>
    <%= link_to "Home??", static_pages_home_path %><br/>
  </body>
</html>