<!DOCTYPE html>
<html>
  <head>
    <title>House Hunting | Help</title>
  </head>
  <body>
    <h1>Need a Help?</h1>
    <p>
      <h4>FAQ</h4>
        Q: When is the service available?
        <br /><br />
        A: Before the project is due :)
    <br><br>
      <h4>Contact Us</h4>
        Admin: admin@sfu.ca
        <br />
        Tel: 911
    </p>
  </body>
</html>
