<!DOCTYPE html>
<html>
  <head>
    <title>App Name | Home</title>
  </head>
  <body>
    <h1>App Name | Home</h1>
    <p>
      This is the home page for the app so far.
    </p>
    <br/><br/><br/>
    
    <div>
    <%= link_to "Login", sessions_new_path, class: "btn btn-lg btn-primary" %>
    </div>
    
    <%= link_to "About??", static_pages_about_path %>
    <%= link_to "Help??", static_pages_help_path %>
    
  </body>
</html>