<!DOCTYPE html>
<html>
  <head>
    <title>House Hunting | Home</title>
  </head>
  <body>
    <h1>House Hunting | Home</h1>
    <p>
      This is the home page for the app so far.
    </p>
    <br/><br/><br/>
    
  </body>
</html>