<!DOCTYPE html>
<html>
  <head>
    <title>House Hunting | Home</title>
  </head>
  <body>
    <h1>Welcome to House Hunting</h1>
    <p>
      <h3>Our website is currently under construction<br/><br/>
          Thank you!</h3>
    </p>
    <br/><br/><br/>

  </body>
</html>
