<h1 class="drop-down">Select your School:</h1>
<%= form_for @user do |f| %>
    <div class="drop-down">
        <%= f.collection_select(:name, School.all, :id, :name) %>
        <%= link_to 'GO', map_user_path, class: "drop-down" %>
    </div>
<% end %>
