<h1 class="drop-down">Start House Hunting!</h1>

<!-- area below is for the form elements/fields //-->
<%#= form_for @user, :url => map_user_path(@user) do |f| %>
<!--
    <div class="drop-down">

        <%#= f.collection_select(:id, School.all, :id, :name) %>
        <%#= link_to 'GO', map_user_path, class: "btn-primary", onclick: "document.cookie='school_id='+(document.getElementById('user_id').value)" %>

    </div>

<%# end %>
<table>
<%# @schools.each do |s| %>
    <tr>
        <td><%#=# link_to s.name, map_user_path(s) %></td>
    </tr>
<%# end %>
</table>
//-->

<%= link_to 'Go', map_user_path, class: "btn-primary" %>