<html>
    <body>
        <h1>Sign up</h1>
        <div id="signup_area">
            <%= render 'form' %> <!-- render the stuff(HTML code) in _form.html.erb //-->
        </div>
     </body>
</html>
