<html>
    <body>
        <h1>Settings Page</h1>
        <%= link_to "Change Email", changeEmail_user_path %><br /><br />
        <%= link_to "Change Password", changePassword_user_path %><br /><br />
    </body>
</html>
