<div style="background-color:white">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>password:</strong>
  <%= @user.password_digest %>

</div>
 
