<div style="background-color:white">
    <h1>Profile Information</h1>
    <div class="profile-pic" style="background-image:url(<%= @user.pictures.url(:small) %>) ; float:left"></div>
    <div class="profile">
        <strong>Name:</strong>
        <%= @user.name %>
        <br /><br />
        <strong>Email:</strong>
        <%= @user.email %>
    </div>
    <div style="clear:both"></div>
    <br /><br /><br />
</div>
