<div style="background-color:white">
    <h1>Profile Information</h1>
    <div class="profile-pic" style="background-image:url(<%= @user.pictures.url(:small) %>) ; float:left"></div>
    <p style="padding-left:120px;">
        <strong>Name:</strong>
        <%= @user.name %>
    </p>
            
    <p style="padding-left:120px;">
        <strong>Email:</strong>
        <%= @user.email %>
    </p>
        
    <div style="clear:both"></div>
    <br/><br/><br/>
</div>
