<div style="background-color:white">
    <h1>Profile Information</h1>
    <div class="profile-pic" style="background-image:url(<%= @user.pictures.url(:small) %>)"></div>
    <div class="profile">
        <p class="profile">
            <strong>Name:</strong>
            <%= @user.name %>
        </p>
        <p class="profile">
            <strong>Email:</strong>
            <%= @user.email %>
        </p>
    </div>
    <div style="clear:both"></div>
    <br /><br /><br />
</div>
