<h1>New School</h1>

<p>
    Note: You don't need to know the latitude and longitude of the school. This can be done later and inputed from the edit section.
</p>

<%= render 'form' %> <!-- display _form //-->

<a href="http://www.latlong.net/">Look at Longitude and Latitude</a>
 
<%= link_to 'Back', schools_path %>
