<h1>New School</h1>

<p>
    Note: You don't need to know the latitude and longitude of the school. This can be done later and inputed from the edit section.
</p>
<%= render 'form' %>
 
<%= link_to 'Back', schools_path %>
