@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* universal */

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* header */

#map_canvas {
    width: 100%;
    height: 400px;
}

#icon {
    float: left;
    border: none;
}

#floating-panel {
 // position: absolute; //activate only when var control is activated
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#detail-panel {
  padding: 1px;
  border: 1px solid;
}
$bgDefault      : #B12E34;
$bgHighlight    : #c0392b;
$colDefault     : #ecf0f1;
$colHover       : #ffbbbc;

.navbar-inverse {
    background-color: $bgDefault;
    border-color: $bgHighlight;

    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
}
