// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a#logo {
    text-decoration: none;
}

a#logo:hover {
    text-decoration: none;
}

div#signup_area, .drop-down {
    text-align: center;
}

.input {
    width: 200px;
    height: 30px;
    margin: 10px;
}

h1.drop-down {
    margin-top: 150px;
}

div.drop-down {
    font-size: 30px;
}

a.drop-down {
    border: 1px solid black;
    background-color: #B12E34;
    color: white;
}

a.drop-down:hover {
    color: #ffbbbc;
    text-decoration: none;
}

div.profile-pic {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div.profile {
    padding-left: 120px;
}
